.conteiner {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.nav-bar { 
    background: #333;
    color: white; 
    padding: 0.5rem 0;   

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .nav-bar a {
        color: white; 
        text-decoration: none; 
    }
.logo-nav-container {
    display: flex;
    justify-content: space-between; 
}
.navigation ul {
    margin: 0;
    padding: 0 5rem;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px; 
        }
            .navigation ul li a:hover {
                background: #4a4a4a;
            }
header {
 padding-top: 12rem; 
}